<li class="card">
	{{#if thumbnailUrl }}
	<div class="image thumbnail">
		<a href="{{url}}"><picture>
			{{!-- <source srcset="" type="image/webp"> --}}
				{{!-- <source srcset="" type="image/png"> --}} 
					<img src="{{thumbnailUrl}}" alt="">
		</picture></a>
	</div>
	{{else if image }}
	<div class="image thumbnail">
		<a href="{{url}}"><picture>
			{{!-- <source srcset="" type="image/webp"> --}}
				{{!-- <source srcset="" type="image/png"> --}} 
					<img src="{{image}}" alt="">
		</picture></a>
	</div>
	{{/if}}
	<h3 class="name"><a href="{{url}}">{{name}}</a></h3>
	<p class="description">{{description}}</p>
</li>
