<div class="card">
	{{#if thumbnailUrl }}
	<div class="thumbnail">
		<a href="{{url}}"><picture>
			{{!-- <source srcset="" type="image/webp"> --}}
				{{!-- <source srcset="" type="image/png"> --}} 
					<img src="{{thumbnailUrl}}" alt="">
		</picture></a>
	</div>
	{{/if}}
	<main>
		<a href="{{url}}">{{name}}</a>
		<p>{{about}}</p>
	</main>
</div>
