<section class="intro">
	<h1>{{name}}</h1>
	<p>{{subtitle}}</p>

	<picture class="site-logo"><img src="/elliot-zone-logo.svg" alt="{{_site.title}}"></picture>
	<nav>
		{{#each _site.navLinks}}
			{{link this @key}}
		{{/each}}
	</nav>
	</div>
</section>
<section class="store featured">
	{{!-- <h1>{{hal-link 'store' _links.store}}</h1> --}}
	<h2>store</h2>
	<ul class="card-container">
		{{#each store}}
			{{> includes/card.hbs this}}
		{{/each}}
	</ul>
</section>
<section class="projects featured">
	<h2>projects</h2>
	<ul class="card-container">
	{{#each projects}}
		{{#unless this.hidden}}
			{{> includes/card.hbs this}}
		{{/unless}}
	{{/each}}
	</ul>
</section>
<section class="code-section featured">
	<h2>code</h2>
	<ul class="items">
	{{#each code}}
		<li><a href="{{url}}">{{name}}</a> - {{description}}</li>
	{{/each}}
	</ul>
</section>
{{!--
<section class="blog featured">
	<h2>{{hal-link 'blog' _links.blog}}</h2>
	<ol class="card-container-horiz items articles">
		{{#each blog}}
		<li>
		{{#embedded ../this this "blog"}}
			{{hal-link "blog" _links.self}}{{#if description}} - {{description}}{{/if}}{{#if date-created}} - {{datetime date-created 'MMMM D, YYYY'}}{{/if}}
		{{else}}
			{{hal-link "blog" this}}
		{{/embedded}}
		</li>
		{{/each}}
	</ol>
</section>
--}}
{{!--
<section>
	<h2>links</h2>
	<ul class="items">
		{{#each _links.socialMedia}}
			<li>{{hal-link "socialMedia" this}}</li>
		{{/each}}
	</ul>
</section>
--}}
